<h1>Login</h1>

<%= form_with(url: login_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
  </div>

  <div class="actions">
    <%= form.submit "Login" %>
  </div>
<% end %>
