<% if @ticket.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ticket.errors.count, 'error') %> prevented the ticket from being saved:</h2>
    <ul>
      <% @ticket.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @ticket do |form| %>
  <div class="field">
  <%= form.label :project %>
  <%= form.collection_select :project_id, Project.all, :id, :name, id: :ticket_project_id %>
  </div>

  <div class="field">
  <%= form.label :name %>
  <%= form.text_field :name, id: :ticket_name %>
  </div>

  <div class="field">
  <%= form.label :body %>
  <%= form.text_area :body, id: :ticket_body %>
  </div>

  <div class="field">
  <%= form.label :status %>
  <%= form.select :status, ['new', 'blocked', 'in_progress', 'fixed'], id: :ticket_status %>
  </div>

  <div class="">
    <%= form.label :tags %>
    <%= form.collection_select :tag_ids, Tag.all, :id, :name, {}, multiple: true, id: :ticket_tag_ids, size: Tag.count %>
  </div>

  <div class="submit">
    <%= form.submit %>
  </div>
<% end %>
